<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiradentes</title>
    <style>
        h1{
            text-align: center;
            color: darkblue;
        }
        body{
        background-color: yellowgreen;
        }        
    </style>
</head>
    <body>
        {% if tiradentes%}
            <h1>Hoje é o dia de tiradentes</h1>
        {% else %}
            <h1>Hoje não é o dia de tiradentes</h1>
        {% endif %}
    </body>
</html>